<div class="grad h-screen">
    <div class="p-6 bg-gray-800 border-b border-black">
        <div class="flex justify-center">
            <div class="shadow-sm bg-gray-100 absolute top-5 left-5 p-2 rounded-full">
                <img class="flex justify-center w-10 h-10" src="assets/images/Tack1.ico">
            </div>
            <div>
                <div class="justify-center">
                    <h1 class="text-5xl font-sans text-white"> {{currentLoan.FirstName}} {{currentLoan.LastName}}'s Loan
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-6 px-6 flex justify-center grid grid-rows-1">
        <div class="border-double border-4 border-black p-4 bg-gray-200 rounded-md">
            <div>Loan Number: {{currentLoan.AccountNumber}}</div>
            <div>Loan Amount: ${{currentLoan.LoanAmmount}}</div>
            <div class="pb-2">Address: {{currentLoan.Address}}</div>
            <div *ngIf="currentLoan.BankId == banker.BankId; then sell else buy"></div>
            <ng-template #sell><button (click)="sellLoan()" class="btn bg-gray-400 rounded-md px-1 hover:bg-gray-800 hover:text-white">Sell Loan</button></ng-template>
            <ng-template #buy><button class="btn bg-green-400 rounded-md px-1 hover:bg-green-800 hover:text-white" (click)="buyLoan()">Buy Loan</button></ng-template>
        </div>
    </div>
</div>