<div class="grad h-screen">
    <div class="p-6 bg-gray-800 border-b border-black">
        <div class="flex justify-center">
            <div class="shadow-sm bg-gray-100 absolute top-5 left-5 p-2 rounded-full">
                <img class="flex justify-center w-10 h-10" src="assets/images/Tack1.ico">
            </div>
            <div class="justify-center">
                <h1 class="text-5xl font-sans text-white">Assignment Board</h1>
            </div>
        </div>
    </div>
    <div class="grid grid-rows-1 flex justify-around justify-items-stretch md:grid-cols-3 md:grid-rows-3">
        <div class="p-6">
            <div class="border-double border-4 border-black rounded-md p-6 bg-green-100">
                <p class="font-semibold flex justify-center text-xl font-sans pb-3">Loans To Purchase</p>
                <ul *ngFor="let loan of loansp | slice:0:3" class="pb-4 flex justify-center" for="loans">
                    <li id="loans"> Name: {{loan.FirstName}} {{loan.LastName}}<br>
                        Loan Amount: ${{loan.LoanAmmount}}<br>
                        Bank: {{loan.bank.Name}}
                    </li>
                </ul>
                <a class="flex justify-end" [routerLink]="['/loansforsale']"><button class="px-2 ring ring-gray-400 ring-opacity-50 bg-green-200 hover:bg-green-400 hover:text-white rounded-md">All Loans</button></a>
            </div>
        </div>
        <div class="p-6">
            <div class=" p-6 justify-center bg-blue-100 border-double border-4 border-black rounded-md">
                <p class="font-semibold flex justify-center text-xl font-sans pb-3">Portfolio</p>
                <a class="text-blue-500 flex justify-center" routerLink="/portfolio/{{banker.BankId}}">{{banker.bank.Name}}'s Portfolio</a>
            </div>
        </div>

        <div class="p-6">
            <div class="border-double border-4 border-black rounded-md p-6 bg-red-100">
                <p class="font-semibold flex justify-center text-xl font-sans pb-3">Loans to Sell</p>
                <ul *ngFor="let loan of loanss | slice:0:3"  class="pb-4 flex justify-center" for="loans">
                    <li id="loans"> Name: {{loan.FirstName}} {{loan.LastName}}<br>
                        Loan Amount: ${{loan.LoanAmmount}} </li>
                </ul>
                <a class="flex justify-end" [routerLink]="['/loanstosell']"><button class="border-black border rounded-md bg-red-300 hover:bg-red-600 hover:text-white px-2 ">All Loans</button></a>
            </div>
        </div>

    </div>
</div>