<div class="grad h-screen">
    <div class="p-6 bg-gray-800 border-b border-black">
        <div class="flex justify-center">
            <div class="shadow-sm bg-gray-100 absolute top-5 left-5 p-2 rounded-full">
                <img class="flex justify-center w-10 h-10" src="assets/images/Tack1.ico">
            </div>
            <div class="justify-center">
                <h1 class="text-5xl font-sans text-white">Admin Page</h1>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="p-6 flex justify-center">
            <div class="px-24 border-double border-4 border-black rounded-md p-6 bg-blue-100">
                <p class="font-semibold flex justify-center text-xl font-sans pb-3">Bankers</p>
                <div>
                    <ul *ngFor="let banker of bankers" class="pb-4 flex justify-center" for="bankers">
                        <li id="bankers">Name: {{banker.FirstName}} {{banker.LastName}} <br>Bank: {{banker.bank.Name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="p-6 flex justify-center">
            <div class=" px-24 py-6 justify-self-center bg-blue-100 border-double border-4 border-black rounded-md">
                <p class="font-semibold flex justify-center text-xl font-sans">Banks</p>
                <ul *ngFor="let bank of banks" class="pb-4 flex justify-center" for="banks">
                    <li id="banks">{{bank.Name}}</li>
                </ul>
                <button class="px-2 ring ring-gray-400 ring-opacity-50 bg-gray-800 text-white hover:bg-gray-300 hover:text-black rounded-md" (click)="toggleOn =!toggleOn">Add New Client</button>
                

            </div>
        </div>
    </div>
    <div *ngIf="!toggleOn">
        <div class="p-6 flex justify-center ">
            <div class="px-6 bg-gray-200 rounded-md border-double border-4 border-black rounded-md py-6 px-24 col-span-2">
                <form (ngSubmit)=addBank() class="border-double border-black px-4 bg-gray-200 rounded-md">
                    <div class="pb-3">
                        <span>Add New Bank: </span><br>
                        <input class="rounded-md" type="text" placeholder="New Bank" name="name" [(ngModel)]="newBank.Name">
                    </div>
                    
                    <div class="flex justify-end pb-3">
                        <button class="px-2 ring ring-gray-400 ring-opacity-50 bg-gray-800 text-white hover:bg-gray-300 hover:text-black rounded-md"
                            type="submit">Add Bank</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>