<div class="grad h-screen">
    <div class="p-6 bg-gray-800 border-b border-black">
        <div class="flex justify-center">
            <div class="shadow-sm bg-gray-100 absolute top-5 left-5 p-2 rounded-full">
                <img class="flex justify-center w-10 h-10" src="assets/images/Tack1.ico">
</div>
<div class="justify-ccenter">
<h1 class="text-5x1 font-sans text-white">Admin Page</h1>
</div>
        </div>
 <div class="grid grid-rows-1 flex justify-around justify-items-stretch md:grid-cols-3 md:grid-rows-3">
    <div class="p-6">
        <div class="border-double border-4 border-black rounded-md p-6 bg-green-100">
 <h3>Bankers</h3>
    <div>
        <ul *ngFor="let banker of bankers | slice:0:3" for="bankers">
            <li id="bankers">{{banker.FirstName}} {{banker.LastName}} {{banker.bank.Name}}</li>
        </ul>
    </div>
</div>
<div class="p-6">
    <div class="p-6 justify-self-center bg-blue-100 border-double border-4 border border-black rounded-md">
    <h3>Banks</h3>
    <ul *ngFor="let bank of banks | slice:0:3" for="banks">
        <li id="banks">{{bank.Name}}</li>
    </ul>
    <form (ngSubmit)=addBank() class="border-double border-black px-4 bg-gray-200 rounded-md">
        <input class="rounded-md" type="text" placeholder="New Bank"  name="name" [(ngModel)]="newBank.Name">
        <div class="flex justify-end pb-3">
        <button class="px-2 py-1 bg-gray-400 hover:bg-gray-600 hover:text-white rounded-md" type="submit">Add Bank</button>
        </div>
    </form>
    
</div>