<hr>
<h3>
    Sign Up
</h3>
<hr>
<form (ngSubmit)='signupBankers()'>
<div>
    <span>First Name</span>
    <input placeholder="First Name" type="text" name="fname" [(ngModel)]='newBanker.firstName'>
</div>
<div>
    <span>Last Name</span>
    <input placeholder="Last Name" type="text" name="Lname" [(ngModel)]='newBanker.lastName'>
</div>
<div>
    <span>Email</span>
    <input placeholder="Email" type="text" name="email" [(ngModel)]='newBanker.email'>
</div>
<div>
    <span>Password</span>
    <input placeholder="Enter Password" type="password" name="password" [(ngModel)]='newBanker.password'>
</div>
<button>
    Sign Up!
</button>
</form>


