<div id="navbar">
    <select>
      <option>Nav Bar</option>
      <option [routerLink]="['/homepage']">
        <a><button>Homepage</button></a>
      </option>
      <option>
        <a href="bank/portfolio/id">Portfolio</a>
      </option>
      <option>
        <a href="">Loans</a>
      </option>
      <option>
        <a href="">Contact</a>
      </option>
      <option>
        <a href="">Support </a>
      </option>
      <option>
        <a href="">About Us </a>
      </option>
      <option>
        <a href="">Careers</a>
      </option>
  </select>  
  </div>