<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<body>

<div class="container">
  <div style="text-align:center">
    <h3>About Us</h3>
  </div>
  <div class="row">
    <div class="column">
    <div style="text-align:right">
       <ul>
       <a href="www.linkedin.com" class="fa fa-linkedin">linkedin</a>
       </br>
       <a href="www.facebook.com" class="fa fa-facebook">facebook</a>
       </br>
       <a href="https://play.google.com/store">google playstore </a>
       </br>
       <a href="https://www.apple.com/app-store">apple playstore </a>
       </br>
       </ul>
    </div>
    <div class="column">
    <div style="text-align:left">
  <p>Ever since the Lincoln administration signed national bank charter No. 24 in 1863, we’ve drawn on our financial strength to serve customers. This has been especially evident in times of need, such as during the COVID-19 pandemic. Our response has included a $20 million premium pay program for our employees, numerous product modifications and 100,000+ PPP loans for our customers, and $30 million in expedited charitable contributions for our communities. As a result, we’re proud to have been named the most essential bank amid the pandemic in a ranking by The Harris Poll.

We also recognize that this past year has fundamentally changed banking by accelerating the shift to digital products and services. We’re positioned well for this future, having launched new tools – like the U.S. Bank Smart Assistant – to complement our 26-state branch footprint.</p>
      
  </div>
</div>

</body>
</html>
