//TOP NAV GOES HERE 
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  </style>
  </head>
  <body>
  <div class="container">
    <div style="text-align:center">
      <h2>HOW CAN WE ASSIST?</h2>
    </div>
    <div class="row">
      <div class="column">
        <form action="/action_page.php">
          <label for="subject"></label>
          <input type="text" id="subject" name="subject" placeholder="ex. forgot password...">
          <label for="email">employee email:</label>
          <input type="text" id="email" name="email" placeholder="employee@bank.com">
          <label for="inputb"></label>
          <textarea id="inputb" name="iputb" placeholder="tell us more" style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  
  </body>
  </html>