
<h3>
    Banker Sign Up
</h3>
<hr>

<form (ngSubmit)='signupBanker()'>
    <div>
        <label for ="firstName" class="title">First Name: </label>
        <input placeholder="First Name" type="text" name="firstName" [(ngModel)]="newBanker.FirstName">
    </div>
    <div>
        <label for="LastName" class="title">Last Name: </label>
        <input placeholder="Last Name" type="text" name="lastName" [(ngModel)]="newBanker.LastName">
    </div>
    <div>    
        <label for="Email" class="title">Email: </label>
        <input placeholder="Email" type="text" name="email" [(ngModel)]="newBanker.Email">
   </div>
   <div>
        <label for="Password" class="title">Password: </label>
        <input placeholder="Enter Password" type="password" name="password" [(ngModel)]="newBanker.Password">
    </div>
    <div>  
        <span for="bank" class="title">Bank: </span>
        <select id="bank" name="bankName" [(ngModel)]="newBank.Name">
            <option>--Please Select Bank--</option>
            <option *ngFor="let bank of banks">
                {{bank.Name}}
            </option>
        </select>
    </div>
    <div>
        <input type="submit" value="SignUp" class="submit"/> 
    </div>
</form>